/*------------------------------------*\
#FONTS
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* colors */
  --global-color-alpha-light: #a3a0fb;
  --global-color-alpha: #a3a0fb;

  --global-color-neutral-000: #f9f9f9; /* Ongeveer wit */
  --global-color-neutral-050: #e3e3e8;
  --global-color-neutral-100: #cfd2d9;
  --global-color-neutral-200: #b4b5be;
  --global-color-neutral-300: #9d9caf;
  --global-color-neutral-400: #787a8f;
  --global-color-neutral-500: #45485b;
  --global-color-neutral-600: #393952;
  --global-color-neutral-700: #000000; /* Zwart */

  --global-color-primary-000: #f2f7fc; /* Lichtblauw */
  --global-color-primary-100: #dbe4f7;
  --global-color-primary-200: #c2d2f2;
  --global-color-primary-300: #a4b6eb;
  --global-color-primary-400: #8192e3;
  --global-color-primary-500: #5e6cce;
  --global-color-primary-600: #4652af;
  --global-color-primary-700: #001490; /* Donkerblauw */

  --color-homestatistics: var(--global-color-primary-400); /* kleur van de balk voor het thuisteam */
  --color-awaystatistics: var(--global-color-primary-600); /* kleur van de balk voor het uitteam */

  --global-text-color: var(--global-color-primary-700);
  --global-background-color: var(--global-color-neutral-050);
  --global-primary-color: var(--global-color-primary-700);
  --global-cardbackground-color: var(--global-color-neutral-000);

  /* Shadows */
  --global-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.025), 0 2px 6px rgba(0, 0, 0, 0.5);
  --global-box-shadow-lg: 0 0 0 1px rgba(0, 0, 0, 0.025), 0 2px 10px rgba(0, 0, 0, 0.1);

  --global-input-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  --global-input-focus-shadow: 0 0 5px var(--global-color-alpha-light);

  /* typografie */
  --global-root-font-size: 16;
  /* border radius */
  --global-border-radius: calc(4 / var(--global-root-font-size));

  /* whitespace */
  --global-baseline: calc(1rem / 3);
  /* or */
  --global-baseline: calc(5 / var(--global-root-font-size) * 1rem);
  /* 5px */
  --global-whitespace-xxs: var(--global-baseline);
  /* 10px */
  --global-whitespace-xs: calc(var(--global-baseline) * 2);
  /* 15px */
  --global-whitespace-sm: calc(var(--global-baseline) * 3);
  /* 20px */
  --global-whitespace-md: calc(var(--global-baseline) * 4);
  /* 25px */
  --global-whitespace-lg: calc(var(--global-baseline) * 5);
  /* 30px */
  --global-whitespace-xl: calc(var(--global-baseline) * 6);

  /* transitions */

  /* shadow */
  --global-shadow: 0 0 0 1px var(--global-color-neutral-100), 0 2px 6px rgba(0, 0, 0, 0.5);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-background-color);
  color: var(--global-text-color);
  font-size: 93.75%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::selection {
  background: mediumslateblue;
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin: 0 0 1.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0 0 1.5rem;
}

h3 {
  font-size: 1.625rem;
  line-height: 2rem;
  margin: 0 0 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0 0 1.5rem;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 1.5rem;
}

ul,
ol {
  padding-left: 1.5rem;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1.5rem;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.5rem;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 1.5rem;
}

a {
  transition: all 0.1s;
  color: mediumslateblue;
  outline-color: mediumslateblue;
  outline-width: medium;
  outline-offset: 2px;
}

a:visited,
a:active {
  color: mediumslateblue;
}

a:hover,
a:focus {
  color: slateblue;
}

label,
input {
  display: block;
}

select {
  width: 100%;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: 1.5rem 1.5rem 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding: 2rem;
  width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-header__title {
  font-size: 2em;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out 5s forwards;
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Voeg fadeIn animatie toe aan de gewenste elementen na het verdwijnen van de overlay */
.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

.c-header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  align-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.c-header__title {
  align-self: center;

  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------- */
/* teams  */

.c-team {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  align-items: center;
  align-content: center;
  /* gap: 1rem; */
  background-color: var(--global-cardbackground-color);
  box-shadow: var(--global-shadow);
}

.c-teams {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.c-team:focus-visible {
  outline: none;
  position: relative;
}

.c-team:focus-visible::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.3rem;
  background-color: var(--global-color-primary-400);
}

.c-team::after {
  content: '';
  position: absolute;
  left: 0;
  right: 100%; /* Begin met 0% breedte dus onzichtbaar */
  bottom: 0;
  height: 0.3rem;
  background-color: var(--global-color-primary-700);
  transition: right 0.2s ease;
}

.c-team--active::after {
  right: 0; /* Verschuif de lijn naar links (0% breedte naar 100% breedte) wanneer het team actief is */
}

.c-team__name {
  align-self: center;
  justify-self: start;
  margin: 0;
  padding: 0;
}

.c-team__logo {
  text-align: center;
  width: 3rem;
}

.c-team__logo img {
  height: 3rem;
  width: auto; /* of een specifieke breedte */
  display: inline-block;
  padding: 0.5rem;
}

/* players */

.c-players {
  background-color: var(--global-cardbackground-color);
  box-shadow: var(--global-shadow);
  padding: 2rem;
  margin-bottom: 2rem;
}

.c-players__positionname {
  margin: 1rem 0 1rem 0;
  padding: 0;
}

.c-players__position {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  gap: 1rem;
  min-height: 12rem;
}

@media screen and (max-width: 400px) {
  .c-players__position {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontaal centreren */
    align-items: center;
  }
}

.c-players {
  display: grid;
  grid-template-columns: 1fr; /* Één kolom */
  gap: 1rem;
}

.c-player {
  display: grid;
  grid-template-rows: 8rem auto; /* Twee rijen met automatische hoogte */

  justify-items: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  max-width: 10rem;
}

.c-player__name {
  margin: 0;
}

.c-player__img {
  height: 8rem;
  width: auto;
  max-width: 100%;
}

.chart {
  /* max-width: 22rem; */
  overflow: visible;
}

.c-stands__uitslagen {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.c-stands__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.c-stands__infotext {
  font-size: large;
  margin: 0;
}

.c-stands__card {
  display: flex;
  align-items: center;
}

.c-stands__chart {
  max-width: 20rem;
}

.c-stands__legend {
  margin: 0;
  padding: 0;
}

.app_output {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 5rem;
  width: 6rem;
}

.chart__path {
  stroke-dasharray: var(--stroke-dasharray) var(--path-length);
  stroke-dashoffset: var(--stroke-dashoffset);
  /* stroke-linecap: round; */
  transition: all 0.2s ease-in-out;
  stroke: var(--strokeColor);
}

/* Stijl voor de legende-items */
.legend__item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

/* Stijl voor het gekleurde bolletje */
.legend__item__color {
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 50%;
}

.legend__key {
  margin: 0;
  text-align: right;
  min-width: 2.5rem;
}
.legend__value {
  margin: 0;
}

/* -------------------------------- */
/* c-games */

.c-games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 1rem;
}

.c-sectiongames {
  margin-bottom: 2rem;
}

.c-game {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  row-gap: 1rem;
  place-items: center; /* Voeg deze regel toe om inhoud te centreren */
  background-color: var(--global-cardbackground-color);
  box-shadow: var(--global-shadow);
  padding: 1rem;
}

.c-game__hometeam,
.c-game__awayteam,
.c-game__info,
.c-game__score--home,
.c-game__separator,
.c-game__score--away,
.c-game_detailsbtn {
  text-align: center; /* Voeg deze regel toe voor tekstcentrering */
}

.c-game__logo {
  height: 2.5rem;
  width: auto;
}
.c-game__hometeam {
  grid-row: 1;
  grid-column: 1;
}

.c-game__info {
  grid-row: 1;
  grid-column: 2;
}

.c-game__awayteam {
  grid-row: 1;
  grid-column: 3;
}

.c-game__score--home {
  grid-row: 2;
  grid-column: 1;
}

.c-game__separator {
  grid-row: 2;
  grid-column: 2;
}

.c-game__score--away {
  grid-row: 2;
  grid-column: 3;
}

.c-game__detailsbtn {
  grid-row: 3;
  grid-column: 1 / span 3; /* Deze regel laat de knop over de 3 kolommen lopen */
  background-color: var(--global-color-primary-700);
  color: var(--global-color-primary-000);
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.c-game__detailsbtn:hover {
  background-color: var(--global-color-primary-600);
}

.c-game__detailsbtn:focus {
  background-color: var(--global-color-primary-500);
}

.c-game__hometeam {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-game__awayteam {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-game__name,
.c-game__score--away,
.c-game__score--home,
.c-game__date,
.c-game__stadion,
.c-game__time {
  margin: 0;
  padding: 0;
}

.c-game__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5rem;
}

.c-game__date,
.c-game__stadion {
  font-size: 0.8rem;
  color: var(--global-color-primary-700);
}
.c-game__time {
  font-weight: 500;
  font-size: 1.5rem;
}

/* gameinfo */
/* Voeg dit toe aan je CSS-stijlen */

body.modal-open {
  overflow: hidden; /* Voorkom scrollen op de achtergrond */
}

#myDialog {
  overflow-y: auto; /* Hierdoor kun je scrollen binnen de popup */
}
.c-gameinfo {
  border: none;
  max-width: 90vw;
  min-width: 50vw;
  background-color: var(--global-cardbackground-color);
  animation: fadeIn 0.3s ease-in-out;
  overflow-y: auto;
}

.c-gameinfo__grid {
  display: grid;
  grid-template-rows: repeat(4, auto); /* Vier rijen met automatische hoogte */
  grid-template-columns: repeat(3, 1fr); /* Drie kolommen met gelijke breedte */
  gap: 0.5rem;
  row-gap: 1rem;
  place-items: center;
  padding: 1rem;
}

.c-gameinfo__homescorers {
  grid-row: 4;
  grid-column: 1;
}

.c-gameinfo__awayscorers {
  grid-row: 4;
  grid-column: 3;
}

.c-gameinfo_scorer {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-content: center;
  gap: 0.2rem;
}
@media (max-width: 600px) {
  .c-gameinfo_scorer {
    grid-template-columns: min-content;
  }

  .c-gameinfo_scorer p {
    white-space: wrap;
    font-size: 75%;
  }
}

.c-gameinfo_scorer p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.c-gameinfo__closebtn {
  grid-row: 3;
  grid-column: 1 / span 3; /* Deze regel laat de knop over de 3 kolommen lopen */
  background-color: var(--global-color-primary-700);
  color: var(--global-color-primary-000);
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  :focus {
    z-index: 100;
    background-color: var(--global-color-primary-500);
  }
}

.c-gameinfo__closebtn:hover {
  background-color: var(--global-color-primary-600);
}

.c-gameinfo__closebtn:focus {
  z-index: 100;
  background-color: var(--global-color-primary-500);
}

.c-gameinfo__statistics {
  width: 19rem;
  margin: auto;
}

.bar {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.home-bar {
  background-color: var(--color-homestatistics); /* kleur van de balk voor het thuisteam */
}

.away-bar {
  background-color: var(--color-awaystatistics); /* kleur van de balk voor het uitteam */
}

.animate-homebar {
  animation: colorFadeInHome 1s ease-in-out;
}

@keyframes colorFadeInHome {
  from {
    width: 0%;
    background-color: var(--color-homestatistics);
  }
  to {
    width: 100%;
    background-color: var(--color-homestatistics);
  }
}

.c-gamestatistics__grafiek {
  display: grid;
  margin: auto;
  grid-template-columns: 2rem auto 2rem;
  grid-template-rows: repeat(2, min-content);
  gap: 1rem;
  row-gap: 0.2rem;
  width: 90%;
  padding-bottom: 1rem;
}

.c-gamestatistics__homewaarde {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  align-self: center;
}

.c-gamestatistics__awaywaarde {
  grid-column: 3;
  grid-row: 2;
  margin: 0;
  align-self: center;
}

.c-gamestatistics__label {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  align-self: center;
}
.c-gamestatistics__label p {
  margin: 0;
  padding: 0;
}

.c-gamestatistics__barcontainer {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 2rem;
  background-color: var(--color-awaystatistics);
  position: relative;
}

.dialog-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.dialog-fade-out {
  animation: fadeOut 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ranking */

.c-ranking {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
  background-color: var(--global-cardbackground-color);
  box-shadow: var(--global-shadow);
  padding: 1rem;
}

.c-ranking__header {
  grid-column: 2 / span 9;
  font-weight: 700;
  font-size: 1.5rem;

  display: grid;
  grid-template-columns: subgrid;
  border-bottom: 2px solid var(--global-color-primary-700);
}

.c-ranking__header p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.c-ranking__teams {
  grid-column: 1 / span 9;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  display: grid;
  grid-template-columns: subgrid;
}

.c-ranking__teams p {
  text-align: center;
  font-size: 80%;
  margin: 0;
  padding: 0;
}

.c-ranking__teamname {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.c-ranking__logo {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
}

.c-ranking__teamname img {
  height: 2rem;
  width: auto;
}
.c-ranking__position {
  width: 1rem;
}
.c-ranking__teamname h3 {
  margin: 0;
  padding: 0;
  font-size: 80%;
}

.c-ranking__teams--first {
  border-left: 0.3rem solid var(--global-color-primary-700);
}

/* ---------------------------------------- */

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
  color: darkgray;
}

.u-color-neutral-dark {
  color: gray;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 32px !important;
}

.u-mb-xl {
  margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
  max-width: 27em !important;
}

.u-max-width-sm {
  max-width: 39em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}

.u-max-width-lg {
  max-width: 63.5em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
  text-align: center;
}

.u-align-center {
  margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
  font-size: 0.875rem;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
